* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;

}

.logo {
    opacity: 0.9

}


.elevate {
    width: 100%; height: 500px;
    background-image: url(foldimage1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: -50px;


}

.elevate > h1 {
    position: absolute; left: 100px; top: 250px; width: 100%; height: 500px;
    text-box: blue;
    background-image: linear-gradient(to right),
    gray 40%
    rgb(209, 59, 59) 70%
    rgba(0,0,0,0) 100%;
    

}



h1 {
    display: inline-block;
    border: 1px; border-color: blue;

}





#elev8 {
  margin-left: 20px;
  width: 50%;
  

} 

#foldimg {
  position: relative;
  top: -315px;

}

#proseso {
  position: relative; left: 250px;
  top: -50px;
  max-width: 900px;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: larger;

}

#skillz {
  position: relative; left: 10px;
  width: 50%;
  padding: 10px;
  text-justify: auto;
  font-size: larger;


}

#prosimg {
  position: relative;
  top: -330px;

}


.findangel {
  position: relative;
  float: center;
  align-items: center;
  background-color: rgb(56, 56, 138);
  background-size: 20%;
  padding-top: 30px;
  padding-right: 200px;
  width: 200%;
}

.findangel > button {
  position: relative;
  float: center;
  left: 630px;
  background-color: #65686d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.findangel > h2 {
  left: 800px;
  right: 500px;
  float: center;
  text-align: center;


}



.angelcta {
  position: absolute;
  bottom: -350px;
  width: 100%;
  
  
  
}


#angelpart {
  background-color: rgb(35, 54, 141);
  padding: 45px
}

#buttonpart {
  padding-bottom: 30px;
  padding-top: 60px;
  bottom: 800px;
  top: 520px;
  

}




.proc {
  position: relative;
  float: right;
  right: 1px;
  top: -380px;
  overflow-y: auto;

}


.button {
  left: 60%;
  position: absolute;
  top: 790px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
/* this looped back because I couldn't make it go up using bottom skill issue for now */


/* fix this part, make text smaller, position center a bit */

.header-right {
  overflow: auto;
  background-color: #757070;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  margin-left: 0px;
  z-index: 2;

}
  

.header-right a {
  float: left;
  padding: 5px;
  color: rgb(236, 236, 238);
  text-decoration: none;
  font-size: 17px;
  width: 10%

}

.community {
  position: relative; right: 400px;
  width: 100%;
  

}


html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;



}





